@font-face {
    font-family: 'Win';
    src: url('PhP/PrvniHodina/Font/w95fa.woff2') format('woff2');
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Win', sans-serif;
    margin: 2em;
    text-align: center;
    width: 20vw;
    height: auto;
}

h1 {
    color: #ffffff;
}

.formbox {
    background-color: #2b2d30;
    padding: 1vh;
    width: 15vw;
    height: auto;
    border-radius: 25px;
    margin-bottom: 1vh;
}

a {
    color: #90caf9;
}

a:hover {
    color: #e3f2fd;
}

form {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formHead {
    background-color: #43454a;
    padding: 1vh;
    width: 15vw;
    height: 10vh;
    border-radius: 25px;
    margin-bottom: 1vh;
}

input[type="text"],
input[type="password"] {
    background-color: #333;
    color: #f0f0f0;
    border: 1px solid #555;
    padding: 8px;
    border-radius: 4px;
}